
.header {
  padding: 15px 0;
  background-color: rgb(5, 18, 63);
  width: 100%;
  text-align: center;
  border-bottom: 5px solid black;
  margin-bottom: 10px;
}

.footer {
  padding: 8px 0;
  left: 0;
  background-color: rgb(5, 18, 63);
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
}
